<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Painel da Performance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/perf.css">
</head>

<body>

<h2>Painel da Performance</h2>

<table>

<thead>

<tr>
    <th rowspan="2">ID</th>
    <th rowspan="2">Nome</th>
    <th rowspan="2">Matrícula</th>
    <th rowspan="2">Área</th>
    <th rowspan="2">Ideia</th>
    <th rowspan="2">Impacto</th>

    <th colspan="5" style="background:#cce5ff">BENEFÍCIO</th>
    <th colspan="5" style="background:#fff3cd">ESFORÇO</th>

    <th rowspan="2">Total Benefício</th>
    <th rowspan="2">Total Esforço</th>
    <th rowspan="2">Prioridade</th>
    <th rowspan="2">Status</th>
    <th rowspan="2">Ações</th>
</tr>

<tr>

    <!-- BENEFÍCIO -->
    <th>Qualidade</th>
    <th>Segurança</th>
    <th>KPI</th>
    <th>Saving</th>
    <th>Norma</th>

    <!-- ESFORÇO -->
    <th>Custo</th>
    <th>Tempo</th>
    <th>Treinamento</th>
    <th>Logística</th>
    <th>Mudança</th>

</tr>

</thead>

<tbody id="tabelaIdeias"></tbody>

</table>

<script src="/static/perf.js"></script>

</body>
</html>